<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="box_inertial" params="m l w h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${(12/m)*(h*h+l*l)}" ixy="0" ixz="0" 
                     iyy="${(12/m)*(w*w+l*l)}" iyz="0" 
                     izz="${(12/m)*(h*h+w*w)}"/>
        </inertial>
    </xacro:macro>

    <xacro:macro name="sphere_inertial" params="m r xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${(2/5)*m*r*r}" ixy="0" ixz="0" 
                     iyy="${(2/5)*m*r*r}" iyz="0" 
                     izz="${(2/5)*m*r*r}"/>
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertial" params="m r l xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${(1/12)*m*(3*r*r+l*l)}" ixy="0" ixz="0" 
                     iyy="${(1/12)*m*(3*r*r+l*l)}" iyz="0" 
                     izz="${(1/2)*m*r*r}"/>
        </inertial>
    </xacro:macro>
</robot>